@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/page";
@import "./layout/footer";
@import "./layout/loader";

@import "./pages/home";
@import "./pages/menu";