$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-black: #000;
$colour-white: #FFF;
// $colour-darkgrey: #353535;
$colour-grey: #656565;

$heading-shadow-size: 0.5rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;

$transition-time: 250ms;
$anim-delay: 100ms;

$border-radius: 5rem;

$steak-turns: 0turn;
$steak-turn-per-shake: 1turn;

$breakpoints: (
    mobile: 992px
);