$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-black: #000;
$colour-white: #FFF;
$colour-grey: #656565;
$colour-grey-bg: lighten($colour-black,25%);

$shadow-size: 0.5rem;
$border-radius: 5rem;

$mobile-block-width: 90%;
$mobile-block-max-width: 70rem;

$anim-duration: 250ms;
$anim-delay: 100ms;

$breakpoints: (
    mobile: 992px
);