.location {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: darken($colour-grey,20%);
    background-color: lighten($colour-grey,50%);
}

.message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten($colour-grey,55%);
    padding: 5rem;
    text-align: center;
    p {
        color: $colour-grey;
        padding: 3rem;
    }
}

.operation {
    max-width: 70rem;
    width: 90%;
    margin: auto;
    
    > div {
        display: flex;
        flex-direction: column;
    }

    &__item {
        @include list-item;
        &--bg {
            @include list-item($colour-primary);
        }
        p {
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    @include desktop-only {
        > div {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }
        &__item {
            width: 70rem;
        }
        max-width: 100%;
    }
}

main {
    background-color: lighten($colour-grey,55%);
}

.restaurants {
    width: 90%;
    margin: auto;
    max-width: 65rem;
    & > div {
        display: flex;
        flex-direction: column;
    }
    
    @include desktop-only{
        & > div {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        max-width: 100%;
    }
}

.rest-prev {
    width: 65rem;
    margin-bottom: 5rem;
    background-color: $colour-white;
    overflow: hidden;
    @include round;
    @include shadow($colour-grey);

    &__image {
        height: 30rem;
        @include img-ratio;
    }

    &__text {
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .fa-heart {
        @include heart;
    }
}