.location {
    width: 100%;

    @include flex-row;
    justify-content: center;
    align-items: center;

    color: lighten($colour-black, 20%);
    background-color: darken($colour-white, 10%);
}

.message {
    width: 100%;
    padding: 5rem;

    @include flex-column;
    align-items: center;

    text-align: center;

    background-color: darken($colour-white, 5%);

    p {
        color: $colour-grey;
        padding: 3rem;
    }
}

.operation {
    width: $mobile-block-width;
    max-width: $mobile-block-max-width;

    margin: auto;
    padding: 5rem 0 5rem 0;

    &__block {
        @include flex-column;

        &__item {
            @include list-item;

            p {
                font-weight: 700;
                @include ellipsis;
            }

            &--bg {
                @include list-item(lighten($colour-primary, 30%));
            }
        }
    }

    @include desktop-only {
        max-width: 100%;

        &__block {
            @include flex-row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            &__item {
                width: 65rem;
            }
        }
    }
}

main {
    background-color: darken($colour-white, 5%);
}

.restaurants {
    width: $mobile-block-width;
    max-width: $mobile-block-max-width - 5rem;

    margin: auto;
    padding: 5rem 0 5rem 0;

    & > div {
        @include flex-column;
    }

    @include desktop-only {
        max-width: 100%;

        & > div {
            @include flex-row;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
}

.rest-prev {
    margin: 2.5rem 0 2.5rem 0;

    background-color: $colour-white;

    overflow: hidden;
    @include round;
    @include shadow($colour-grey);

    &__image {
        height: 30rem;
        @include img-ratio;
    }

    &__text {
        padding: 2rem;

        position: relative;
        // @include flex-row;
        // justify-content: space-between;
        // align-items: center;

        // @include ellipsis;
    }

    @include desktop-only {
        width: 65rem;
    }
    &--new {
        position: relative;
        &::after {
            content: "Nouveau";
            position: absolute;
            top: 5%;
            right: 5%;
            background-color: $colour-tertiary;
            color: darken($colour-tertiary,30%);
            font-weight: 700;
            font-size: 2rem;
            padding: 0 2rem 0 2rem;
            @include round(.5rem);
        }
    }
}

.heart {
    position: absolute;
    top: 30%;
    right: 3rem;
    text-align: center;
    color: $colour-grey;

    .fa-heart {
        font-size: 5rem;
        padding: 1rem;
    }

    .heart__bg {
        font-size: 4.5rem;
        padding-top: 1.2rem;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;

        background: -webkit-gradient(linear, left top, left bottom, from($colour-secondary), to($colour-primary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        transition: opacity $anim-duration;
        &:hover {
            opacity: 1;
        }
    }
}