.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    visibility: hidden;
    z-index: 10;
    opacity: 90%;
    animation: loader-screen 3000ms;
    &__cooking {
        position: relative;
        transform: rotate(-20deg);
        transform-origin: 120% 50%;
        animation: loader-pan 1000ms 3 ease-in-out;
        // z-index: 9;
        &__pan {
            z-index: 1;
        }
        &__steak {
            @include round;
            z-index: -1;
            position: absolute;
            top: 10%;
            left: 20%;
            width: 12rem;
            height: 3rem;
            background: $colour-primary;
            animation: loader-steak 3000ms both;
        }
    }
}

.location {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: darken($colour-grey,20%);
    background-color: lighten($colour-grey,50%);
    
}

.message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten($colour-grey,55%);
    padding: 5rem;
    text-align: center;
    p {
        color: $colour-grey;
        padding: 3rem;
    }
}

.operation {
    width: 100%;
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item {
        @include list-item;
        &--bg {
            @include list-item($colour-primary);
        }
        p {
            font-weight: 700;
        }
    }
}

main {
    width: 100%;
    background-color: lighten($colour-grey,55%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rest-prev {
    width: 65rem;
    margin-bottom: 5rem;
    background-color: $colour-white;
    overflow: hidden;
    @include round;
    @include shadow($colour-grey);
    &__image {
        height: 30rem;
        @include img-ratio;
    }
    &__text {
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        i {
            font-size: 5rem;
        }
    }
}