footer{
    @include color-layout($colour-grey-bg);
    padding: 5rem;

    @include flex-column;
    align-items: center;
}

.footer {
    width: 100%;
    max-width: $mobile-block-max-width;

    h1 {
        font-size: 4rem;
    }

    a {
        color: $colour-white;
    }

    li {
        @include flex-row;
        align-items: center;
        padding-right: 2rem;
    }

    @include desktop-only {
        max-width: 100%;

        ul {
            width: 100%;
            @include flex-row;
            justify-content: space-around; 
        }
    }
}