.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    visibility: hidden;
    z-index: 10;
    opacity: 90%;
    animation: loader-screen 3000ms;
    &__cooking {
        position: relative;
        transform: rotate(-20deg);
        transform-origin: 120% 50%;
        animation: loader-pan 1000ms 3 ease-in-out;
        // z-index: 9;
        &__pan {
            z-index: 1;
        }
        &__steak {
            @include round;
            z-index: -1;
            position: absolute;
            top: 10%;
            left: 20%;
            width: 12rem;
            height: 3rem;
            background: $colour-primary;
            animation: loader-steak 3000ms both;
        }
    }
}