.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
}

main {
    width: 100%;
}

section {
    width: 100%;
}

footer {
    width: 100%;
}